@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("public/car-1.jpg");
  background-size: cover;
  background-position: -100px center;
}

.box-1 {
  display: none;
}

.box-2 {
  display: none;
}

.container {
  padding: 20px 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.text-event {
  height: 250px;
  transform: rotate(5deg);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.avatar {
  height: 75px;
}

.link-container {
  text-align: center;
  width: 100%;
}

a.button {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #E86A1E;
  border: 5px solid #292929;
  color: #292929;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px; /* Adjust the value to modify the shape */
  transition: background-color 0.3s ease;
}

a.button:hover {
  background-color: #292929;
  border: 5px solid #E86A1E;
  color: #E86A1E;
}

@media only screen and (min-width: 767px) {

  .box-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-image: linear-gradient(45deg, #411802 30%, #f05806 80%);
    z-index: 10;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  .box-2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #E86A1E;
    z-index: 11;
    -webkit-clip-path: polygon(0 35%, 0 100%, 100% 100%);
    clip-path: polygon(0 35%, 0 100%, 100% 100%);
  }

  .container {
    padding: 20px 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
      "logo logo logo"
      "text1 links links";
    grid-template-rows: 20% 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }

  .logo-container {
    flex-direction: row-reverse;
    grid-area: logo;
    width: 100%;
    padding: 0 100px;
    z-index: 15;
  }

  .avatar {
    height: 100px;
  }

  .text-event {
    grid-area: text1;
    z-index: 15;
    height: 300px;
  }
  .grid-container {
    grid-area: links;
    width: 75%;
  }
  
  a.button {
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 50px; /* Adjust the value to modify the shape */
  }

  body {
    background-position: 100px center;
  }
}

@media only screen and (min-width: 1200px) {

  .box-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-image: linear-gradient(45deg, #411802 30%, #f05806 80%);
    z-index: 10;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  .box-2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #E86A1E;
    z-index: 11;
    -webkit-clip-path: polygon(0 35%, 0 100%, 100% 100%);
    clip-path: polygon(0 35%, 0 100%, 100% 100%);
  }

  .container {
    padding: 20px 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
      "logo logo logo"
      "text1 links links";
    grid-template-rows: 20% 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }

  .logo-container {
    flex-direction: row-reverse;
    grid-area: logo;
    width: 100%;
    padding: 0 100px;
    z-index: 15;
  }

  .avatar {
    height: 125px;
  }

  .text-event {
    grid-area: text1;
    z-index: 15;
    height: 340px;
    transform: translate(-80px, -20px) rotate(5deg);
  }
  .grid-container {
    grid-area: links;
    width: 75%;
  }
  
  a.button {
    display: block;
    font-size: 22px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 50px; /* Adjust the value to modify the shape */
  }
}